{% extends "home_base.html"%}
{% load staticfiles i18n %}
{% block container %}
<br>
<div class="container">
  <div class="page-header">
    <h2>Ayuda de Sistema de Información Fallos de Tutela</h2>      
  </div>
        <header>
          <h1 class="page-title h2">Glosario</h1>
        </header>


        <!-- article body content -->
        
<p>El glosario del Sistema de Información Fallos de Tutela, en adelante SIFT, incluye el vocabulario y la terminología usada en formulario de registro de fallos de tutela.</p>
<h3>N° Radicado</h3>
<p>Identificador de la tutela, por lo general son 7 digistos.</p>
<h3>Accionante</h3>
<p>Quien(es) son los afectados.</p>
<h3>Condición</h3>
<p>Estado del accionante.</p>
<h3>Actuación</h3>
<p>En nombre de quien se instaura la tutela.</p>
<h3>Apoderado</h3>
<p>Persona que tiene la capacidad jurídica para actuar en nombre y por cuenta de otra.</p>
<h3>Agente oficioso</h3>ta o no vínculo familiar y sin que exista un poder por escrito que lo faculte para presentar dicha tutela, porque el titular del derecho no pueda ejercer su propia defensa, por:

<p>Está contemplado en el art. 10 del Decreto 2591 de 1991, el cual consiste en que un tercero pueda presentar acción de tutela a favor de otra persona.
<ul><li>Dificultades físicas, como una enfermedad o discapacidad que imposibilita el desplazamiento del afectado hasta un juzgado.</li>
<li>Dificultades psíquicas que afecten su estado mental.</li>
<li>El sujeto se encuentra en estado de indefensión, lo cual le impide acudir a la justicia; como ser una persona de la tercera edad con dificultad de desplazamiento.</li>
<li>Detenido en un centro de reclusión o estación de Policía y se le impida suscribir documentos por cualquier motivo (amenazas).</li>
<li>Está fuera del país pero le están siendo vulnerados sus derechos fundamentales a pesar de estar fuera de Colombia.</li>
</ul></p>
<h3>En Representación</h3>
<p>Hace referencia a una persona natural o juridica que representa a un adulto mayor o menor de edad.</p>


<h3>EPN</h3>
<p>Entidad Pública Nacional.</p>
<h3>EPM</h3>
<p>Entidad Pública Municipal.</p>
<h3>Accionado</h3>
<p>Quien infringe o es responsable por la violación.</p>
<h3>Régimen</h3>
<p>Es la forma de afiliación al sistema de salud que existe en Colombia, hay dos formas de afiliación, mediante el régimen contributivo y el subsidiado.
<ul><li>Régimen Contributivo: A este Régimen se deben afiliar las personas que tienen un empleo o poseen capacidad de pago para afiliarse a una Empresa Promotora de Salud (EPS) Igualmente: Los trabajadores del servicio doméstico (jardineros, conductores, empleadas del servicio doméstico, entre otros).</li>
<li>El Régimen Subsidiado es el mecanismo mediante el cual la población más pobre, sin capacidad de pago, tiene acceso a los servicios de salud a través de un subsidio que ofrece el Estado.</li>  
</ul></p>
<h3>Integridad Personal</h3>
<p>Es aquel derecho humano fundamental que tiene su origen en el respeto a la vida y sano desarrollo de ésta. El ser humano por el hecho de ser tal tiene derecho a mantener y conservar su integridad física, psíquica y moral.</p>
<h3>Vida</h3>
<p>Es el derecho que se reconoce a cualquier ser humano que le protege de ser privado de la vida por terceros, el derecho usualmente se reconoce por el simple hecho de estar vivo.</p>
<h3>Dignidad Humana</h3>
<p>Es el derecho que tiene cada ser humano, de ser respetado y valorado como ser individual y social, con sus características y condiciones particulares, por el solo hecho de ser persona.</p>
<h3>Salud</h3>
<p>Se refiere a que la persona tiene como condición innata, el derecho a gozar de un medio ambiente adecuado para la preservación de su salud, el acceso a una atención integral de salud, el respeto a su concepto del proceso salud - enfermedad y a su cosmovisión.</p>
<h3>Seguridad Social</h3>
<p>También llamada seguro social o previsión social, se refiere principalmente a un campo de bienestar social relacionado con la protección social o cobertura de las necesidades reconocidas socialmente, como salud, vejez o discapacidades.</p>
<h3>Derecho de Petición</h3>
<p>Toda persona tiene derecho a presentar peticiones respetuosas a las autoridades, en los términos señalados en este código, por motivos de interés general o particular, y a obtener pronta resolución completa y de fondo sobre la misma.</p>
<h3>Debido Proceso</h3>
<p>Es un principio legal por el cual el Estado debe respetar todos los derechos legales que posee una persona según la ley.</p>
<h3>Mínimo Vital</h3>
<p>El derecho fundamental al mínimo vital abarca todas las medidas positivas o negativas constitucionalmente ordenadas con el fin de evitar que la persona se vea reducida en su valor intrínseco como ser humano debido a que no cuenta con las condiciones materiales que le permitan llevar una existencia digna.</p>
<h3>Trabajo</h3>
<p>Es el derecho fundamental humano por el que toda persona tiene derecho al trabajo, a la libre elección del mismo, a condiciones equitativas y satisfactorias de trabajo, a la protección contra el desempleo, sin discriminación, con igualdad salarial, remuneración digna, protección social y derecho de sindicación.</p>
<h3>Igualdad</h3>
<p>Consagrado por el artículo primero de la Declaración Universal de los Derechos Humanos: "Todos los seres humanos nacen libres e iguales en dignidad y derechos y, dotados como están de razón y conciencia, deben comportarse fraternalmente los unos con los otros."</p>
<h3>Intimidad</h3>
<p>Nadie será objeto de injerencias arbitrarias en su vida privada, su familia, su domicilio o su correspondencia, ni de ataques a su honra y su reputación. Toda persona tiene derecho a la protección de la ley contra tales injerencias o ataques.</p>
<h3>Libre Desarrollo de la Personalidad</h3>
<p>Es el reconocimiento que el estado hace de la facultad natural de toda persona a ser individualmente como quiere ser, sin coacción, ni controles injustificados o impedimentos por parte de los demás.</p>
<h3>Ambiente Sano</h3>
<p>"Todos los habitantes gozan del derecho a un ambiente sano, equilibrado, apto para el desarrollo humano y para que las actividades productivas satisfagan las necesidades presentes sin comprometer las de las generaciones futuras; y tienen el deber de preservarlo (…)".

Artículo 41 de la Constitución Nacional</p>
<h3>Habeas Data</h3>
<p>Es el derecho que tienen todas las personas a conocer, actualizar y rectificar las informaciones que se hayan recogido sobre ellas en bancos de datos y en archivos de entidades públicas y privadas.</p>
<h3>Buen Nombre</h3>
<p>El artículo 15 de la Constitución Política de Colombia señala que: “Todas las personastienen derecho a la intimidad personal y familiar y a su buen nombre, y el Estado, debe respetarlos y hacerlos respetar”.</p>
<h3>Educación</h3>
<p>El derecho a la educación es un derecho fundamental de todos los seres humanos que les permite adquirir conocimientos y alcanzar así una vida social plena. El derecho a la educación es vital para el desarrollo económico, social y cultural de todas las sociedades.</p>
<h3>Libertad de Culto</h3>
<p>La libertad de culto o libertad religiosa es un derecho fundamental que se refiere a la opción de cada ser humano de elegir libremente su religión, de no elegir ninguna (irreligión), o de no creer o validar la existencia de un Dios (ateísmo y agnosticismo) y ejercer dicha creencia públicamente, sin ser víctima de opresión, discriminación o intento de cambiarla a la fuerza.</p>
<h3>Libertad de Expresión</h3>
<p>La libertad de expresión es un derecho fundamental o un derecho humano, consagrado en el artículo 19 de la Declaración Universal de los Derechos Humanos de 1948. Las constituciones de los sistemas democráticos también lo señalan.</p>

<h3>Negación en Salud</h3>
<p>La resolución 744 de 2012 del Minsalud adopta el registro de negación de servicios médicos por parte de las empresas promotoras de salud de los regímenes contributivo y subsidiado y demás entidades obligadas a compensar.</p>
<h3>Concede</h3>
<p>Cuando se gana o nó la tutela.</p>
<h3>Improcedente</h3>
<p> La improcedencia es una calificación negativa por la que se rechaza la demanda al carecer de requisitos de fondo mínimos que tienen que ver con los presupuestos procesales y las condiciones de la acción.</p>
<h3>Hecho superado</h3>
<p>El hecho superado se presenta cuando, por la acción u omisión (según sea el requerimiento del actor en la tutela) del obligado, se supera la afectación de tal manera que “carece” de objeto el pronunciamiento del juez.</p>
<h3>Daño consumado</h3>
<p>Se presenta cuando la amenaza o la trasgresión del derecho fundamental ya ha generado el perjuicio que se pretendía evitar con el mecanismo preferente de tutela, de tal modo que resulta inocuo para el juez impartir cualquier orden en ese sentido.</p>
<h3>Existe otro medio de defensa</h3>
<p>Agotamiento de todos los medios ordinarios y extraordinarios de defensa judicial como requisito general de procedibilidad.</p>
<h3>Fraude a resolución judicial</h3>
<p>Hace referencia a la práctica  ciertas argucias y artimañas para evitar el cumplimiento de una obligación impuesta mediante resolución judicial.</p>
<h3>FOSYGA</h3>
<p>Fondo de Soldaridad y Garantía. Este fondo fue creado con la Ley 100 de 1993, con el fin de garantizar la compensación entre las personas de diferentes ingresos, la solidaridad del sistema general de seguridad social y salud para cubrir los riesgos catastróficos y accidentes de tránsito.</p>
<h3>Fiduprevisora FOMAG</h3>
<p> Fondo de prestaciones Sociales del magisterio - Pensiones.</p>
<br>
{% endblock %}