{% extends "home_base.html"%}
{% block title %} Recuperar Contraseña {% endblock %}
{% block container %}
<br>
<div class="row flex-items-xs-middle fill_parent">
  <div class="col-xs p-a-0">
    <div class="bg-inverse p-y-3">
      <center class="m-b-1"><h2>Restablece tu contraseña</h2></center>
      <br>
      <br>
    <div class="row">
    <div class="col-xs-6 col-sm-2"></div>
    <div class="col-xs-6 col-sm-8">
     <div class="alert alert-danger" role="alert">
      <B><h4><center>La información ingresada ha sido verificada, Te hemos enviado un correo electrónico con tu nueva contraseña.</h4></B></center></div>
     <br>

      <center><a class="btn btn-primary btn-lg" href="{% url 'login_page' %}" role="button">Iniciar Sesión</a>
      </center>
    </center>
    </center>
          </div>
    </div>
    </div>
    </div>
      <br>
{% endblock %}